body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#vsebina {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#kanal {
  background-color: lightgreen;
  margin-bottom: 1em;
}

#sporocila {
  width: 85%;
  height: 300px;
  overflow: auto;
  background-color: #FFFFFF;
  margin-bottom: 1em;
  margin-right: 10px;
}

#seznam-kanalov, #seznam-uporabnikov {
  float: right;
  width: 100%;
  height: 150px;
  overflow: auto;
}

#seznam {
  float: right;
  width: 14%;
}

#seznam-kanalov div, #seznam-uporabnikov div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-kanalov div:hover, #seznam-uporabnikov div:hover {
  background-color: #ddd;
}

#poslji-sporocilo {
  width: 700px;
}


#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 1em;
}

#emoticons  span{
  margin-top: 10px;
  margin-bottom: 10px;
  cursor:pointer;
}

#emoticons  span:hover{
  background-color: #ddd;
}